@model IEnumerable<Project.Models.ShoppingCartItem>

@{
    ViewBag.Title = "Cart";
}
<link rel="stylesheet" href="~/assets/css/cart.css">
@if (Model != null)
{
    <div class="cart">
        <div class="container">
            <div class="cart-wrap">
                <div class="cart-content">
                    <form action="" class="form-cart">
                        <div class="cart-body-left">
                            <div class="cart-heding hidden-xs">
                                <div class="row cart-row">
                                    <div class="col-11" style="text-align: center;">
                                        <div class="row">
                                            <div class="col-5">Sản phẩm</div>
                                            <div class="col-2">Đơn giá</div>
                                            <div class="col-3">Số lượng</div>
                                            <div class="col-2">Thành tiền</div>
                                        </div>
                                    </div>
                                    <div class="col-1"></div>
                                </div>
                            </div>
                            <div class="cart-body">
                                @foreach (var item in Model)
                                {
                                    <div class="row cart-body-row cart-body-row-1" id="trow-@item.ProductId" style="align-items: center;">
                                        <div class="col-md-11 col-10" style="text-align: center;">
                                            <div class="row card-info" style="align-items: center;">
                                                <div class="col-md-2 col-12 card-info-img">
                                                    <a href=""><img class="cart-img" src="~/assets/img/product/@item.img" alt=""></a>
                                                </div>
                                                <div class="col-md-3 col-12">
                                                    <a href="/products/detail/@item.ProductId" class="cart-name"><h5>@item.Name</h5></a>
                                                </div>
                                                <div class="col-md-2 col-12" style="font-size: 16px;">
                                                    <input type="text" name="DonGia" id="DonGia" value="@string.Format("{0:0,0 đ}",item.Price)" style="border:none;">
                                                </div>
                                                <div class="col-md-3 col-12">
                                                    <div class="cart-quantity">
                                                        <input type="button" value="-" class="control minus-btn" onclick="tru(@item.ProductId)">
                                                        <input type="text" value="@item.Quantity" class="text-input" id="text_so_luong-@item.ProductId" onkeypress='validate(event)'>
                                                        <input type="button" value="+" class="control plus-btn" onclick="cong(@item.ProductId)">
                                                    </div>
                                                </div>
                                                <div class="col-md-2 col-12 hidden-xs" style="font-size: 16px;">
                                                    <input type="text" name="Gia" id="Gia" value="@string.Format("{0:0,0 đ}", item.TotalPrice)" style="border:none;">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 col-2 text-right">
                                            <a href="#" data-id="@item.ProductId" class="btnDelete"><i class="fas fa-trash"></i></a>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="cart-footer">
                                <div class="row cart-footer-row">
                                    <div class="col-1"></div>
                                    <div class="col-11 continue">
                                        <a href="/products/index">
                                            <i class="fas fa-chevron-left"></i>
                                            Tiếp tục mua sắm
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cart-body-right">
                            <div class="cart-total">
                                <label for="">Thành tiền:</label>
                                <span class="total__price">1,415,000₫</span>
                            </div>
                            <div class="cart-buttons">
                                <a style="display: block; text-align: center;" href="~/pay.html" class="chekout">THANH TOÁN</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}
else
{
}
<script src="~/assets/js/Cart.js"></script> 
<script src="~/assets/js/main.js"></script>