@model Project.Identity.AppUser
@using Project.ViewModel
@{
    ViewBag.Title = "Profile";
}
<link rel="stylesheet" href="~/assets/css/login.css">
<link rel="stylesheet" href="~/assets/css/account.css">
<div class="container h-100">
    <div class="wrapper">
        <div class="row">
            <div class="col-lg-2 col-12">
                <div class="heading">
                    <img src="~assets/img/product/" alt="" class="heading-img">
                    <span class="heading-name_acc"></span>
                </div>
                <div class="menu-manager">
                    <div class="my-profile item-manager active">
                        <div class="my-profile-title ">
                            <div class="my-profile-icon"><i class="fas fa-user"></i></div>
                            <div class="my-profile-name">Hồ sơ của tôi</div>
                        </div>
                    </div>
                    <div class="my-password item-manager">
                        <div class="my-password-title">
                            <div class="my-password-icon"><i class="fas fa-key"></i></div>
                            <div class="my-password-name">Đổi mật khẩu</div>
                        </div>
                    </div>
                    <div class="my-order item-manager">
                        <div class="my-order-title">
                            <div class="my-order-icon"><i class="fas fa-shopping-bag"></i></div>
                            <div class="my-order-name">Đơn hàng của tôi</div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-10 col-12">
                <div class="menu-detail">
                    <div class="detial__my-profile item-detail active">
                        @using (Html.BeginForm("Edit", "Account", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "form"}))
                        {
                            <div class="heading-edit-account">
                                <h2>Hồ sơ của tôi</h2>
                                <div class="row">
                                    <div class="col-sm-12 col-lg-6">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(model => model.Id)
                                        <div class="form-group">
                                            @Html.LabelFor(t => t.FullName, "Họ tên", htmlAttributes: new { @class = "form-label" })
                                            @Html.TextBoxFor(t => t.FullName, Model.FullName, new { placeholder = "VD: Nhâm Ngọ ", @class = "form-control", @id = "fullName" })
                                            <span class="form-message"></span>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(t => t.Email, htmlAttributes: new { @class = "form-label" })
                                            @Html.TextBoxFor(t => t.Email, Model.Email, new { placeholder = "VD: nhamngooinfo@gmail.com", @class = "form-control", @id = "email" })
                                            <span class="form-message"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-lg-6">
                                        <div class="form-group">
                                            @Html.LabelFor(t => t.BirthDay, "Ngày sinh", htmlAttributes: new { @class = "form-label" })
                                            @Html.TextBoxFor(t => t.BirthDay, Model.BirthDay.Value.ToString("dd/mm/yyyy"), new { placeholder = "VD: 02/09/2002", @class = "form-control", @id = "birthDay", type = "Date" })
                                            <span class="form-message"></span>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(t => t.PhoneNumber, "Số điện thoại", htmlAttributes: new { @class = "form-label" })
                                            @Html.TextBoxFor(t => t.PhoneNumber, Model.PhoneNumber, new { placeholder = "VD: 0336669999", @class = "form-control", @id = "mobile" })
                                            <span class="form-message"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-lg-6">
                                        <div class="form-group">
                                            @Html.LabelFor(t => t.Address, "Địa chỉ", htmlAttributes: new { @class = "form-label" })
                                            @Html.TextBoxFor(t => t.Address, Model.Address, new { placeholder = "VD: 140 Lê Trong Tấn", @class = "form-control", @id = "address" })
                                            <span class="form-message"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-lg-6">
                                        <div class="form-group ">
                                            @Html.LabelFor(t => t.City, "Thành phố", htmlAttributes: new { @class = "form-label" })
                                            @Html.TextBoxFor(t => t.City, Model.City, new { placeholder = "VD: Thành phố Kon Tum", @class = "form-control", @id = "city" })
                                            <span class="form-message"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-lg-12 text-center">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-6">
                                                    @Html.LabelFor(t => t.Gender, "Nam", htmlAttributes: new { @class = "form-label" })
                                                    @Html.RadioButtonFor(m => m.Gender, "Male")
                                                </div>
                                                <div class="col-6">
                                                    @Html.LabelFor(t => t.Gender, "Nữ", htmlAttributes: new { @class = "form-label" })
                                                    @Html.RadioButtonFor(m => m.Gender, "Female")
                                                </div>
                                            </div>
                                            <span class="form-message"></span>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="form-submit save-profile">Lưu</button>
                            </div>
                        }
                    </div>
                    
                        <div class="detail__confirm-password item-detail">
                            <div class="heading-edit-password">
                                <h2>Đổi lại mật khẩu</h2>
                            </div>

                            <div class="form-group matkhau">
                                <label class="form-label" for="Password">Mật khẩu đăng nhập</label>
                                <input class="form-control" id="password" name="Password" placeholder="Nhập mật khẩu" type="password" value="">
                                <span class="show-hide"><i class="fas fa-eye"></i></span>
                                <span class="form-message"></span>
                            </div>

                            <div class="form-group matkhau">
                                <label class="form-label" for="Password">Mật khẩu đăng nhập</label>
                                <input class="form-control" id="password" name="Password" placeholder="Nhập mật khẩu" type="password" value="">
                                <span class="show-hide"><i class="fas fa-eye"></i></span>
                                <span class="form-message"></span>
                            </div>

                            <div class="form-group matkhau">
                                <label class="form-label" for="ConfirmPassword">Nhập lại mật khẩu</label>
                                <input class="form-control" id="password_confirmation" name="ConfirmPassword" placeholder="Nhập lại mật khẩu" type="password" value="">
                                <span class="show-hide-two"><i class="fas fa-eye fa-eye-2"></i></span>
                                <span class="form-message"></span>
                            </div>
                            <button class="form-submit">Lưu</button>
                        </div>
                    
                    <div class="detail__my-order item-detail">
                        <div class="heading-edit-password">
                            <h2>Đơn hàng của bạn</h2>
                        </div>
                        <div class="detail__my-order-content">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>MĐH</th>
                                        <th>Ngày</th>
                                        <th>Tổng tiền</th>
                                        <th>Trạng thái</th>
                                        <th>Chi tiết</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.Orders)
                                    {
                                        <tr>
                                            <td>@item.Id</td>
                                            <td>@item.DateBooking</td>
                                            <td>@string.Format("{0:0,0 đ}", item.Total)</td>
                                            <td>
                                                @switch (item.Status)
                                                {
                                                    case 0:
                                                        <span class="btn-stt blue">Đang xác nhận</span>
                                                        break;
                                                    case 1:
                                                        <span class="btn-stt yellow">Đang giao</span>
                                                        break;
                                                    case 2:
                                                        <span class="btn-stt green">Đã giao</span>
                                                        break;
                                                    default:
                                                        <span class="btn-stt red">Đã hủy</span>
                                                        break;
                                                }
                                            </td>
                                            <td><a href="/Orders/OrderDetail/@item.Id" data-toggle="modal" data-target="#myModal">Xem</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section script{
    <script src="~/assets/js/validator.js"></script>
    <script>
        Validator({
            form: '#form-1',
            formGroupSelector: '.form-group',
            errorSelector: '.form-message',
            rules: [
                Validator.Mobile('#Mobile', 'Trường này phải là số điện thoại'),
                Validator.UserName('#UserName', 'Vui lòng nhập tên đăng nhập'),
                Validator.isRequired('#fullname', 'Vui lòng nhập tên đầy đủ'),
                Validator.isRequired('#email'),
                Validator.isEmail('#email'),
                Validator.minLength('#password', 6),
                Validator.isRequired('#password_confirmation'),
                Validator.isConfirmed('#password_confirmation', function () {
                    return document.querySelector('#form-1 #password').value;
                }, 'Mật khẩu nhập lại không chính xác')
            ],
            onSubmit: function (data) {
                // call api
                console.log(data);
            }
        });
    </script>
    <script>
        const pass_field = document.querySelector('#password');
        const show_btn = document.querySelector('.fa-eye')
        show_btn.addEventListener("click", function () {
            if (pass_field.type === "password") {
                pass_field.type = "text";
                show_btn.classList.add("hide");
            } else {
                pass_field.type = "password";
                show_btn.classList.remove("hide");
            }
        });
    </script>
    <script>
        const pass_field2 = document.querySelector('#password_confirmation');
        const show_btn2 = document.querySelector('.fa-eye-2')
        show_btn2.addEventListener("click", function () {
            if (pass_field2.type === "password") {
                pass_field2.type = "text";
                show_btn2.classList.add("hide");
            } else {
                pass_field2.type = "password";
                show_btn2.classList.remove("hide");
            }
        });
    </script>
}