@model Project.Models.Product
@{
    ViewBag.Title = "Danh sách sản phẩm";
}
@section naviheader{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="~/admin/Content/Clients/index.html" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="~/admin/Products/index" class="nav-link">Chi tiết sản phẩm</a>
        </li>
    </ul>
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="text-uppercase">Quản lý sản phẩm</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="~/admin/Content/Clients/index.htm">Home</a></li>
                    <li class="breadcrumb-item"><a href="~/admin/products/index">Sản phẩm</a></li>
                    <li class="breadcrumb-item active">chi tiết sản phẩm Sản phẩm</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title text-uppercase">Chi tiết sản phẩm</h3>
        </div>
        <div class="card-body">
            <div class="tab-content">
                <div class="active tab-pane" id="activity">
                    @using (Html.BeginForm("Edit", "Products", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                    {
                        <div class="form-group">
                            @Html.LabelFor(t => t.ProductId)
                            @Html.TextBoxFor(t => t.ProductId, new { @class = "form-control", placeholder = "Nhập id sản phẩm", @Value = Model.ProductId, @readonly = "readonly" })
                            @Html.ValidationMessageFor(x => x.ProductId, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(t => t.Name)
                            @Html.TextBoxFor(t => t.Name, new { @class = "form-control", placeholder = "Nhập tên sản phẩm", @Value = Model.Name })
                            @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(t => t.Detail)
                            @Html.TextAreaFor(t => t.Detail, new { @class = "form-control", placeholder = "Nhập chi tiết sản phẩm sản phẩm", @id = "txtDetail", @Value = Model.Detail })
                            @Html.ValidationMessageFor(x => x.Detail, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(t => t.Description)
                            @Html.TextAreaFor(t => t.Description, new { @class = "form-control", placeholder = "Nhập mô tả sản phẩm sản phẩm", @Value = Model.Description })
                            @Html.ValidationMessageFor(x => x.Description, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-2">
                                    @Html.LabelFor(t => t.Price)
                                    @Html.TextBoxFor(t => t.Price, new { @class = "form-control", placeholder = "Nhập giá sản phẩm", @type = "number", min = 0, @Value = Model.Price })
                                    @Html.ValidationMessageFor(x => x.Price, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-2">
                                    @Html.LabelFor(t => t.Quantity)
                                    @Html.TextBoxFor(t => t.Quantity, new { @class = "form-control", placeholder = "Nhập số lượng sản phẩm", @type = "number", max = 100, min = 0, @Value = Model.Quantity })
                                    @Html.ValidationMessageFor(x => x.Quantity, "", new { @class = "text-danger" })
                                </div>

                                <div class="col-2">
                                    @Html.LabelFor(t => t.Promotion)
                                    @Html.TextBoxFor(t => t.Promotion, new { @class = "form-control", placeholder = "Nhập số phần trắm giảm giá sản phẩm", @type = "number", max = 100, min = 0, @Value = Model.Promotion })
                                    @Html.ValidationMessageFor(x => x.Promotion, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-2">
                                    @Html.LabelFor(t => t.Evaluate)
                                    @Html.TextBoxFor(t => t.Evaluate, new { @class = "form-control", placeholder = "Nhập số sao đánh giá sản phẩm", @type = "number", max = 5, min = 0, @Value = Model.Evaluate })
                                    @Html.ValidationMessageFor(x => x.Evaluate, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-2">
                                    @Html.LabelFor(t => t.TotalSold)
                                    @Html.TextBoxFor(t => t.TotalSold, new { @class = "form-control", placeholder = "Nhập số sản phẩm đã bán", @type = "number", min = 0, @Value = Model.TotalSold })
                                    @Html.ValidationMessageFor(x => x.TotalSold, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-2">
                                    @Html.LabelFor(t => t.DateCreate)
                                    <div class="input-group date" id="reservationdate" data-target-input="nearest">
                                        @Html.TextBoxFor(t => t.DateCreate, new { type = "text", @class = "form-control datetimepicker-input", placeholder = "Ngày tạo sản phẩm", @Value = Model.DateCreate })
                                        <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-4">
                                    <div class="custom-control custom-checkbox">
                                        @Html.CheckBoxFor(x => x.IsActive, new { @class = "custom-control-input", @Value = Model.IsActive })
                                        @Html.LabelFor(t => t.IsActive, "Active sản phẩm ?", htmlAttributes: new { @class = "custom-control-label" })
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="custom-control custom-checkbox">
                                        @Html.CheckBoxFor(x => x.IsHot, new { @class = "custom-control-input", @Value = Model.IsHot })
                                        @Html.LabelFor(t => t.IsHot, "Sản phẩm HOT ?", htmlAttributes: new { @class = "custom-control-label" })
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="custom-control custom-checkbox">
                                        @Html.CheckBoxFor(x => x.Featured, new { @class = "custom-control-input", @Value = Model.Featured })
                                        @Html.LabelFor(t => t.Featured, "Nổi bật ?", htmlAttributes: new { @class = "custom-control-label" })
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-6">
                                    @Html.LabelFor(t => t.ProductTypeID)
                                    @Html.DropDownListFor(t => t.ProductTypeID, new SelectList(ViewBag.ProductTypes, "Id", "Name"), "Vui lòng chọn loại sản phẩm...", htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.ProductTypeID, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-6">
                                    @Html.LabelFor(t => t.BrandID)
                                    @Html.DropDownListFor(t => t.BrandID, new SelectList(ViewBag.Brands, "Id", "Name"), "Vui lòng chọn loại sản phẩm...", htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.ProductTypeID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group ">
                            <div class="row text-center">
                                <div class="col-2">
                                    <label for="@Model.ProductId">Ảnh đại diện</label>
                                    <p name="@Model.ProductId" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="showImgeMain('@Model.ImgeMain')"><img src="/assets/img/product/@Model.ImgeMain" alt="@Model.ProductId" class="img-thumbnail rounded" width="100px" /></p>
                                </div>
                                @{
                                    int n = 1;
                                    foreach (var item in ViewBag.ImageProducts)
                                    {
                                        <div class="col-2">
                                            <label for="@item.Id">Anh @n</label>
                                            <p name="@item.Id" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="showImgeMain('@item.Path')"><img src="/assets/img/product/@item.Path" alt="@item.Id" class="img-thumbnail rounded" width="100px" /></p>
                                        </div>
                                        n++;
                                    }
                                }
                            </div>
                        </div>
                        <button class="btn btn-success" id="btnSave">Lưu</button>
                    }

                </div>
                <div>
                </div>
                <div class="card-footer">
                    Footer
                </div>
            </div>
        </div>
</section>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ảnh đại điên</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="~/assets/img/product/" alt="Alternate Text" id="imgMain" width="770px" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <div class="form-group btn btn-secondary">
                        <input type="file" id="uploadhinh" name="uploadhinh" accept="image/*"  />
                    </div>
            </div>
        </div>
    </div>
</div>


@section Ajax{
    <script>
        $(document).ready(function () {
            // active thumbnail
            $("#thumbSlider .thumb").on("click", function () {
                $(this).addClass("active");
                $(this).siblings().removeClass("active");
            });
        })
        function showImgeMain(img) {
            img = '/assets/img/product/' + img;
            document.getElementById('imgMain').setAttribute('src', img);
        }
    </script>
}